body {
font-family: 'Jost', sans-serif;

}
.banner-bg{
    background-color: #E9EDF4;
}
.nav-link{
    font-size: 18;
    font-weight: 500;
    color: #1c1c1c;
}

.nav-item{
    margin-right: 40px;
}

.banner-subtitle{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.9;
    color: #7153d9;
    text-transform: uppercase;
    letter-spacing: 8px
}

.banner-title{
    font-size: 72px;
    font-weight: 500;
    line-height: 1.16;
    color: #1c1c1c;
}

.banner-text{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    color: #54545f;
    margin-top: 30px;
    max-width: 510px;

}
.banner-btn{
    text-decoration: none;
    color: white;
    background: linear-gradient(135deg, #4526b1 0%, #5435be 45%, #7153d9 66%);
    border: 0px;
    border-radius: 40px;
    padding: 15px 40px;
    line-height: 1;
    font-size: 16px;
    /* position: relative; */
}
/*chage the background color of navbar*/

.nav-active {
    background-color:#fff;
    box-shadow: 5px -1px 12px -5px grey;
}

.feature-icon{
    background-color: #E9EDF4;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 6.2;
}
.feature-text{
   color: #54545f;;
}
.image-section{
    min-height: 451px;

}
.image-section1{
    width: 736px !important;
    min-height: 451px;

}


.separator{
width: 2% !important;
}

/* feature 2*/

.section-subtitle{
    font-size: 18px;
    font-weight: 500;
    /* line-height: 1.9; */
    color: #7153d9;
    /* text-transform: uppercase; */
    /* letter-spacing: 8px */
}

.section-title{
    font-size: 60px;
    font-weight: 500;
    line-height: 1.16;
    color: #1c1c1c;
}

.section-text{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    color: #54545f;
    margin-top: 30px;
    max-width: 510px;

}

.feature2-title{
    font-size: 20px;
    font-weight: 500;
}

.feature2-p{
    font-size: 18px;
    color:#54545f;
}

.feature2-list li::before{
    color:#7153d9;
}

.service-card{
    box-shadow: 0px 12px 42px rgba(69, 38, 177, 0.1), 11px 6px 25px rgba(69, 38, 177, 0.1);
    border-radius: 20px;
}


.service-link{
  text-decoration: none;
  color: black;

}

.service-card-title {
 line-height: 1.5;
 color: #7153d9;

}


.mysection{
background-color: #4526B1;
color: white;

}

.my-btn-white{
    background-color: #e2c4ff;
    color: #1c1c1c;
    border-radius: 40px;
    padding: 15px 40px;
    text-decoration: none;
}

.boost-img2{
    margin-top: -100px;
}